.burger{
    display: flex;
    width: 89%;
    justify-content: space-between;
    margin: auto;
}

@media (max-width:1199px){
    .nav-body{
        display: block;
        position: absolute;
        width: 100%;
        z-index: 999; 
        /* height: 110vh; */
        display: none;
        opacity: 0;
        transition: opacity 250ms ease-in;
        overflow: hidden;
    }
    .show-nav{
        opacity: 1;
        display: block;
    }
    .hide-nav{
        display: none;
    }
    .nav-brand{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
    .nav-item{
        background-color: rgb(86, 86, 86, .95);
        border-radius: 1px;
        padding-block: .5em;
        height: 100vh;
        z-index: 999;
    }
    .container{
        width: 100%;
        display: block;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65vh;
        margin:4em 2em auto auto;
    }
    .home{
        background-color: #F2F2F2;
        border-radius: 24px;
        border: none;
        padding: .3em .65em;
        font-size: 1.1rem;
    }
}
@media (min-width:700px) and (max-width:1200px){
    .left h2{
        width: 55%;
        font-size: 2.7rem;
        letter-spacing: 1.5px;
        margin: 0;
        background: linear-gradient(135deg, #0c2972 14.64%, #75D473 85.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    span h2{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        background: linear-gradient(120deg, #313131 13.4%, #40FFC7 86.6%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'work sans';
    }
}
@media (min-width:300px) and (max-width:700px){
    .left h2{
        width: 75%;
        font-size: 2rem;
        letter-spacing: 1.5px;
        margin: auto;
        background: linear-gradient(135deg, #0c2972 14.64%, #75D473 85.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    span h2{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        background: linear-gradient(120deg, #313131 13.4%, #40FFC7 86.6%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'work sans';
    }
    .nav-brand{
        width: 85%;
        margin: auto;
    }
}
@media(min-width:1200px){
    .burger{
        display: none;
    }
}

